<!DOCTYPE html>
<html lang="en" hmlns:th="https://thymeleaf.org" xmlns:hmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar::navbar}"></div>
<div class="container">
    <div class="row" style="min-height: 85vh;">
        <div th:if="${success}" class="alert alert-success text-center">
            [[${success}]]
        </div>
        <div th:if="${error}" class="alert alert-danger text-center">
            [[${error}]]
        </div>
        <div class="col col-12 text-center">
            <h1>[[#{app.title}]]</h1>
            <img th:src="@{/images/periodicals.png}" width="1200"/>
            <div></div>
        </div>
    </div>
    <div th:replace="~{footer::footer}"></div>
</div>
</body>
</html>

