<!DOCTYPE html>
<html lang="en" hmlns:th="https://thymeleaf.org" xmlns:hmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Periodicals</a>
                <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"  th:href="@{/publications/subscription}">Publications</a>
                        </li>
                        <li class="nav-item" th:if="${idLoginUser}">
                            <a class="nav-link active"  th:href="@{/subscription}">Subscription</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a th:if="${idLoginUser == undefined}" class="nav-link active" th:href="@{/login}">Login</a>
                        <a th:if="${idLoginUser == undefined}" class="nav-link active" th:href="@{/users/register}">Registration</a>
                        <a th:if="${idLoginUser}" class="nav-link active" th:href="@{/logout}">Logout</a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>