<!DOCTYPE html>
<html lang="en" hmlns:th="https://thymeleaf.org" xmlns:hmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Publications to subscribe</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar::navbar}"></div>
<div class="row" style="min-height: 85vh;">
    <li class="container-fluid text-center " style="max-width: 1200px; list-style-type: none;">
        <div><h2>Publications to subscribe</h2></div>
        <div class="m-1">
        </div>
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div th:if="${message2}" class="alert alert-danger text-center">
            [[${message2}]]
        </div>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <form class="form-inline" th:action="@{'/publications/subscription/'}">
                <select name="groupValue" class="form-select" aria-label="Default select example"
                        th:value="${groupValue}">
                    <option value="">Groups to choose</option>
                    <option value=1>News</option>
                    <option value=2>Science</option>
                    <option value=3>Lifestyle</option>
                    <option value=4>Sport</option>
                    <option value=5>Financial</option>
                </select>
                <input class="form-control" type="search" placeholder="Search By Title" aria-label="Search By Title"
                       name="keyword" th:value="${keyword}">
                <button class="btn btn-secondary my-2 m-2" type="submit"> Search</button>
                <a href="http://localhost:8080/publications/subscription/" class="btn btn-secondary my-2 m-2"
                   type="submit">Clear</a>
            </form>
        </nav>
        <table class="table table-bordered">
            <thead class="dropdown-menu-dark">
            <tr>
                <th>
                    <a th:href="@{'/publications/subscription/page/' + ${currentPage} + '?sortField=id'+ '&sortDir=' + ${reverseSortDir}}">
                        ID</a></th>
                <th>
                    <a th:href="@{'/publications/subscription/page/' + ${currentPage} + '?sortField=title'+ '&sortDir=' + ${reverseSortDir}}">
                        Title</a></th>
                <th>
                    <a th:href="@{'/publications/subscription/page/' + ${currentPage} + '?sortField=price'+ '&sortDir=' + ${reverseSortDir}}">
                        Price $</a></th>
                <th>
                    <a th:href="@{'/publications/subscription/page/' + ${currentPage} + '?sortField=topic'+ '&sortDir=' + ${reverseSortDir}}">
                        Topic</a></th>
                <th>Group</th>
                <th>Details</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="publication : ${listPublications}">
                <tr>
                    <td>[[${publication.id}]]</td>
                    <td>[[${publication.title}]]</td>
                    <td>[[${publication.price}]]</td>
                    <td>[[${publication.topic}]]</td>
                    <td>[[${publication.accumulation.accumulation}]]</td>
                    <td>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary m-1 " data-toggle="modal" th:attr="data-target='#exampleModalLong'+*{publication.id}"
                        >DETAILS</button>

                        <!-- Modal -->
                        <div class="modal fade"
                             th:id="*{'exampleModalLong'+{publication.id}}" tabindex="-1"
                             role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">[[${publication.title}]]</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        [[${publication.description}]]
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


                    <td th:if="${idLoginUser}">
                        <a class="btn btn-success m-1 "
                           th:href="@{'/publications/subscription/'+${publication.id}}">SUBSCRIBE</a>
                        <a class="btn btn-danger m-1 "
                           th:href="@{'/publications/subscription/delete/'+${publication.id}}">UNSUBSCRIBE</a>

                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           th:if="${currentPage > 1}"
                           th:href="@{'/publications/subscription/page/' + ${currentPage -1}+ '?sortField='+${sortField}+ '&sortDir=' + ${sortDir}}">Previous</a>
                        <span class="page-link" th:if="${currentPage == 1}">Previous</span>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                        th:class="${(currentPage == i) ? 'page-item active' : 'page-item'}">
                        <a class="page-link"
                           th:href="@{'/publications/subscription/page/' + ${i} + '?sortField='+${sortField}+ '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:if="${currentPage < totalPages}"
                           th:href="@{'/publications/subscription/page/'+${currentPage+1} + '?sortField='+${sortField}+ '&sortDir=' + ${sortDir}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
</div>
<div th:replace="~{footer::footer}"></div>
</body>


</html>