<!DOCTYPE html>
<html lang="en" hmlns:th="https://thymeleaf.org" xmlns:hmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[#{table.users.topic}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar::navbar}"></div>
<div class="row" style="min-height: 85vh;">
<div class="container-fluid text-center" style="max-width: 1000px; margin: 0 auto;">
    <div><h2>[[#{table.users.topic}]]</h2></div>
    <div class="m-1">
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]

    </div>
    <table class="table table-bordered">
        <thead class="dropdown-menu-dark">
        <tr>
            <th>Id</th>
            <th>[[#{table.users.email}]]</th>
            <th>[[#{table.users.active}]]</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${listUsers}">
            <tr>
                <td>[[${user.id}]]</td>
                <td>[[${user.email}]]</td>
                <td>[[${user.active}]]</td>
                <td>
                    <form th:method="put"
                          th:action="@{'/users/edit/'+${user.id}}">
                        <input type="submit" class="btn btn-primary m-2 text-center"
                               th:value=#{table.user.button.state} />
                    </form>
                    <!--
                    <a class="btn btn-primary m-2 text-center" th:href="@{'/users/edit/'+${user.id}}">[[#{table.user.button.state}]]</a>
                    <a class="h4 " th:href="@{'/users/delete/' + ${user.id}}">Delete</a> -->
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</div>
</body>
<div th:replace="~{footer::footer}"></div>
</html>