<!DOCTYPE html>
<html lang="en" hmlns:th="https://thymeleaf.org" xmlns:hmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<div class="row" style="">
<body>
<div th:replace="~{navbar::navbar}"></div>
<div class="container-fluid text-center" style="max-width: 1000px;min-height: 85vh; margin: 0 auto;">
    <div><h2>Manage Users</h2></div>
    <div class="m-1">
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]

    </div>
    <table class="table table-bordered">
        <thead class="dropdown-menu-dark">
        <tr>
            <th>Email</th>
            <th>Account</th>
            <th>Active</th>
            <th>First Name</th>
            <th>Last Name</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${listUsers}">
            <tr>
                <td>[[${user.email}]]</td>
                <td>[[${user.account}]]</td>
                <td>[[${user.active}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div th:replace="~{footer::footer}"></div>
</body>
</div>
</html>