<!DOCTYPE html>
<html lang="en" hmlns:th="https://thymeleaf.org" xmlns:hmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[#{user.title.head}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar::navbar}"></div>
<div class="row" style="min-height: 85vh;">
    <li class="container-fluid text-center " style="max-width: 1200px; list-style-type: none;">
        <div><h2>[[#{user.subtitle.head}]]</h2></div>
        <div class="m-1">
        </div>
        <table class="table table-bordered">
            <thead class="dropdown-menu-dark">
            <tr>
                <th>[[#{user.subscription}]]</th>
                <th>[[#{user.title}]]</th>
                <th>[[#{user.price}]]</th>
                <th>[[#{user.topic}]]</th>
                <th>[[#{user.group}]]</th>
                <th>[[#{user.details}]]</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="subscription : ${listPublications}">
                <tr>
                    <td><[[${subscription.date}]]</td>
                    <td>[[${subscription.publication.title}]]</td>
                    <td>[[${subscription.publication.price}]]</td>
                    <td>[[${subscription.publication.topic}]]</td>
                    <td>[[${subscription.publication.accumulation.name}]]</td>
                    <td><!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                th:attr="data-target='#exampleModalLong'+*{subscription.id}">
                            DETAILS
                        </button>

                        <!-- Modal -->
                        <div class="modal fade"
                             th:id="*{'exampleModalLong'+{subscription.id}}" tabindex="-1"
                             role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            [[${subscription.publication.title}]]</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        [[${subscription.publication.description}]]
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           th:if="${currentPage > 1}"
                           th:href="@{'/publications/subscription/page/' + ${currentPage -1}+ '?sortField='+${sortField}+ '&sortDir=' + ${sortDir}}">Previous</a>
                        <span class="page-link" th:if="${currentPage == 1}">Previous</span>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                        th:class="${(currentPage == i) ? 'page-item active' : 'page-item'}">
                        <a class="page-link"
                           th:href="@{'/publications/subscription/page/' + ${i} + '?sortField='+${sortField}+ '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:if="${currentPage < totalPages}"
                           th:href="@{'/publications/subscription/page/'+${currentPage+1} + '?sortField='+${sortField}+ '&sortDir=' + ${sortDir}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
</div>
<div th:replace="~{footer::footer}"></div>
</body>
</html>